body, code, html, kbd, pre, samp, p {
  font-family: "Press Start 2P";
}
.app {
  padding: 50px 30px;
}

.app-content {
  position: relative;
  max-width: 980px;
  min-width: 500px;
  margin: 0 auto;
  width: 80%;
}
.app-footer {
  padding: 0 20px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.avatar-img {
  top: 35px;
  left: 5px;
}
.avatar-content {
  left: 40px;
  top: -30px;
}

.app-footer p {
  margin-bottom: 0.5rem;
}


.t-wrapper {
  margin-bottom: 20px;
}